cxfclient/src/main/resources/wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions name="employee" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://cxfsoap.vcjain.com/" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cxfsoap.vcjain.com/">

	<types>
		<xsd:schema targetNamespace="http://cxfsoap.vcjain.com/">
			<xsd:complexType name="employee">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="firstName" type="xsd:string" />
					<xsd:element name="ID" type="xsd:long" />
					<xsd:element minOccurs="0" name="lastName" type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="subjects"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="NameMismatchFaultDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="code" type="xsd:int"></xsd:element>
						<xsd:element name="message" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="addEmpRequest">
		<part name="employee" type="tns:employee"></part>
	</message>
	<message name="addEmpResponse">
		<part name="response" type="xsd:string"></part>
	</message>
	<message name="NameMisMatchException">
		<part name="NameMisMatchException" element="tns:NameMismatchFaultDetails"></part>
	</message>
	<message name="accept_header">
		<part name="Accept" type="xsd:string"></part>
	</message>

	<portType name="EmpService">
		<operation name="addEmp">
			<input message="tns:addEmpRequest"></input>
			<output message="tns:addEmpResponse"></output>
			<fault  name="NameMisMatchException" message="tns:NameMisMatchException"></fault>
		</operation>
	</portType>

	<binding name="EmpServiceBinding" type="tns:EmpService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="addEmp">
			<soap:operation style="rpc" />
			<input>
				<soap:body use="literal" namespace="http://cxfsoap.vcjain.com/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://cxfsoap.vcjain.com/"/>
			</output>
			<fault name="NameMisMatchException">
				<soap:fault name="NameMisMatchException" use="literal" namespace="http://cxfsoap.vcjain.com/"/>
			</fault>
		</operation>
	</binding>

	<service name="EmpService">
		<port name="EmpServicePort" binding="tns:EmpServiceBinding">
			<soap:address location="http://localhost:8080/cxfsoap/emp" />
		</port>
	</service>
</definitions>
